@import "./variables";

main{
    background-color: $grayColor;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow-y: auto;


    // header
    header{
        display: flex;
        background-color: $blackColor;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        gap: 20px;

        // form
        form{
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.221);
            width: 100%;
            max-width: 350px;
            border-radius: 5px;
            display: flex;
            @media (max-width: 650px) {
                max-width: unset;
            }
            
            
            input{
                background-color: transparent;
                border: none;
                outline: none;
                padding: 15px;
                color: $textColor;
                width: 100%;
            }
            button{
                border: none;
                outline: none;
                background: none;
                color: $textColor;
                cursor: pointer;
                margin-right: 10px;
                
            }
        }

        // nav
        nav{
            display: flex;
            gap: 15px;
            @media (max-width: 650px) {
                display: none;
            }
        }
        span{
            font-size: 14px;
            cursor: pointer;
            white-space: nowrap;
            &:hover{
                color: white;
            }
        }
    }

    // music
    section{
        flex: 1;
        margin-top: 20px;

        // list
        .list{
            height: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;

        .card{
            background-color: #121212;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            border-radius: 10px;
            height: fit-content;
            &:hover .play {
                opacity: 1;
                bottom: 20px;
            }
            figure{
                position: relative;
                img{
                    width: 100%;
                    border-radius: 10px;
                }
                .play{
                    background-color: $greenColor;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: grid;
                    place-items: center;
                    position: absolute;
                    right: 10px;
                    bottom: -20px;
                    font-size: 13px;
                    transition: all 0.3s;
                    opacity: 0;
                    &:hover{
                        background-color: #0f6d32;
                        scale: 1.1;
                        rotate: 360deg;
                    }
                    i{
                        // flex elemanına tıklanınca i etikinin pointer-events değerinden ötürü tıklanılmayı doğru şekilde izlemeyemedik.bunu düzeltmek için i etikenin pointer-eventsi kaldırdık.
                        pointer-events: none;
                    }
                }
            }
            .card-info{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
        }
    }
}